<% provide(:title, 'Users Index') %>

<div class="center jumbotron">
      <h1><strong>Joepardy Quizmasters</strong></h1>
        <p>We slingin' knowledge, son.</p>
        <%= link_to "Sign up now!", 'signup', class: "btn btn-lg btn-primary" %>
</div>
    <hr />
    <% @users.each do |user| %>
    <h2>
      <%= gravatar_for @user %>
      <%= @user.username %>
    </h2>
    <p><%= @user.quiz.score %></p>
    <% if user != @users.last %>
      <hr/>
      <% end %>
    <% end %>
